body {
    background: url('../img/blue_clouds.jpg') no-repeat 50% 0% fixed;
    background-size: 100%; 

    background: url('../img/blue_clouds.jpg') no-repeat center center fixed;

   -webkit-background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;  
  background-size: cover;  
  -ms-
}


.center-block{
    text-align: center;
}


